<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueshushu.learn.mapper.UserMapper">


<resultMap id="userDo" type="top.yueshushu.learn.pojo.UserDo">
<id column="id" property="id"/>

<result column="name" property="name"/>
<result column="sex" property="sex"/>
<result column="age" property="age"/>
<result column="role_id" property="roleId"/>
<result column="description" property="description"/>
<result column="role_name" property="roleName"/>
<result column="role_description" property="roleDescription"/>
</resultMap>

<!-- 筛选条件 -->
<sql id="userWhere">
    <where>
        <if test="userReqVo.name != null and userReqVo.name != ''">
            AND user.name like concat('%',#{userReqVo.name},'%')
        </if>
        <if test="userReqVo.roleName != null and userReqVo.roleName != ''">
            AND role.name like concat('%',#{userReqVo.roleName},'%')
        </if>
        <!--其它的条件继续扩展-->
    </where>
</sql>
<sql id="userOrder">
    <choose>
        <when test="userReqVo.sortKey != null and userReqVo.sortType != null">
            <choose>
                <when test="userReqVo.sortType == 1">
                    order by ${userReqVo.sortKey} desc
                </when>
                <otherwise>
                    order by ${userReqVo.sortKey} asc
                </otherwise>
            </choose>
        </when>
        <otherwise>
            order by user.id asc
        </otherwise>
    </choose>
</sql>
<sql id="userLimit">
    <if test="userReqVo.limitN != null">
        limit #{userReqVo.limitN}
    </if>
    <if test="userReqVo.limitOffset != null">
        offset #{userReqVo.limitOffset}
    </if>
</sql>

<select id="findList" resultType="top.yueshushu.learn.pojo.UserDo">
    select
    <choose>
        <when test="returnDbFields != null and returnDbFields != null and returnDbFields.size() != 0">
            <foreach collection="returnDbFields" item="item" separator=",">
                `${item.tableName}`.`${item.tableFieldName}` as `${item.tableFieldName}`
            </foreach>
        </when>
    </choose>
    from user user left join role role
    on user.role_id = role.id
    <include refid="userWhere"/>
    <include refid="userOrder"/>
    <include refid="userLimit"/>
</select>
</mapper>

